[submodule "abstract-robot-dynamics"]
	path = abstract-robot-dynamics
	url = http://github.com/laas/abstract-robot-dynamics.git
[submodule "dynamic-graph"]
	path = dynamic-graph
	url = http://github.com/jrl-umi3218/dynamic-graph
[submodule "dynamic-graph-python"]
	path = dynamic-graph-python
	url = http://github.com/jrl-umi3218/dynamic-graph-python
[submodule "jrl-dynamics"]
	path = jrl-dynamics
	url = http://github.com/jrl-umi3218/jrl-dynamics
[submodule "jrl-mal"]
	path = jrl-mal
	url = http://github.com/jrl-umi3218/jrl-mal
[submodule "jrl-mathtools"]
	path = jrl-mathtools
	url = http://github.com/jrl-umi3218/jrl-mathtools
[submodule "jrl-walkgen"]
	path = jrl-walkgen
	url = http://github.com/jrl-umi3218/jrl-walkgen
[submodule "robot-viewer"]
	path = robot-viewer
	url = http://github.com/laas/robot-viewer.git
[submodule "sot-core"]
	path = sot-core
	url = http://github.com/jrl-umi3218/sot-core
[submodule "sot-dynamic"]
	path = sot-dynamic
	url = http://github.com/jrl-umi3218/sot-dynamic
[submodule "sot-dyninv"]
	path = sot-dyninv
	url = http://github.com/laas/sot-dyninv.git
[submodule "sot-pattern-generator"]
	path = sot-pattern-generator
	url = http://github.com/jrl-umi3218/sot-pattern-generator
[submodule "soth"]
	path = soth
	url = http://github.com/laas/soth.git
